@inherits LayoutComponentBase
@inject IServicioSesion servicio
@using CentroEventos.Aplicacion.Servicio
@inject NavigationManager navegar
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
           <button type = "button" class="btn btn-link logout-link" @onclick="CerrarSesion">
                 Salir
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

    <p>@mensajeDebug</p>

@code {
    private string mensajeDebug = "";

    private void CerrarSesion()
    {
        mensajeDebug = "Cerrando sesión...";
        servicio.CerrarSesion();
        navegar.NavigateTo("/login", true);
    }
}

