@inherits LayoutComponentBase
@inject IServicioSesion servicio
@using CentroEventos.Aplicacion.Servicio
@inject NavigationManager navegar
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          
            <button class="btn btn-primary m-2"@onclick="IrPerfil">
             <span class="material-symbols-outlined" style="vertical-align: middle"margin-right: 4px;>person</span>   
                    Perfil
           </button>

            <button class="btn btn-primary"@onclick="CerrarSesion">
             <span class="material-symbols-outlined" style="vertical-align: middle"margin-right: 4px;">logout</span>   
                    Salir   
           </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

    <p>@mensajeDebug</p>

@code {
    private string mensajeDebug = "";

    private void CerrarSesion()
    {
       servicio.CerrarSesion();
        navegar.NavigateTo("/", false);
    }
    private void IrPerfil(){
        navegar.NavigateTo("/perfil",false);
    }
}

