@page "/"
@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.Aplicacion.Servicio
@inject IServicioSesion servicio
<PageTitle>Home</PageTitle>
<style>
    body {
    background-color: rgb(255, 255, 255);
    
  }
  h1 {
    color: navy;
    text-align: center;
  }
  h3{
    color: royalblue;
    text-align: center;
  }
</style>
<h1>Sistema de Gestión del Centro Deportivo Universitario</h1>
<p></p>
<p></p>

<h3>
 ¡Bienvenido,@servicio.UsuarioActual?.Nombre!
</h3>

