@page "/home"
@inject IServicioSesion Sesion
@inject NavigationManager Navigation

@if (!accesoPermitido)
{
    <p>Redirigiendo...</p>
}
else
{
    <style>
      h1{
        color: navy;
        text-align: center;
      }
      h3{
        color: lightseagreen;
        text-align: center;
      }
    </style>
    <h1>Sistema de Gestión del Centro Deportivo Universitario</h1>
    <h3>¡Bienvenido/a, @Sesion.UsuarioActual?.Nombre!</h3>
}

@code {
    private bool accesoPermitido;
    private bool redirigido = false;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Sesion.EstaAutenticado && !redirigido)
        {
            redirigido = true;
            Navigation.NavigateTo("/");
        }
        else if (firstRender)
        {
            accesoPermitido = true;
            StateHasChanged(); // actualiza el render
        }

        return Task.CompletedTask;
    }
}
