@page "/perfil"
@using CentroEventos.Aplicacion.Servicio
@using CentroEventos.Aplicacion.Hash
@using CentroEventos.Repositorios
@inject IServicioSesion Servicio
@inject IRepositorioUsuario repositorioUsuario
@inject NavigationManager Navegador
@inject IServicioSesion Servicio
@inject ModificarUsuarioUseCase ModificarUsuarioUseCase

@using CentroEventos.Aplicacion.Entidades
@if (!accesoPermitido)
{
  <p>Redirigiendo...</p>
}
<h1>¡Hola, @Servicio.UsuarioActual?.Nombre!</h1>
<br>
<h4>Modificar la información de usuario: </h4>
<style>
    h1{
        color: darkblue;
        text-align: center;
    }
    h4{
        color: lightseagreen;
        text-align: left;
    }
</style>

@if (modelo != null)
{
    <EditForm Model="modelo" OnValidSubmit="GuardarCambios">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Nombre:</label>
            <InputText class="form-control" @bind-Value="modelo.Nombre" />
        </div>

        <div class="mb-3">
            <label>Apellido:</label>
            <InputText class="form-control" @bind-Value="modelo.Apellido" />
        </div>

        <div class="mb-3">
            <label>Correo electrónico:</label>
            <InputText class="form-control" @bind-Value="modelo.CorreoElectronico" />
        </div>
        <div class="mb-3">
            <label>Contraseña:</label>
            <input placeholder="Nueva Contraseña"class="form-control"@bind="nuevaCon">
        </div>
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
    </EditForm>
}
else
{
    <p>Cargando datos del usuario...</p>
}
<br>
<h4>Permisos asignados</h4>

@if (modelo?.Permisos?.Count > 0)
{
    <ul class="list-unstyled">
        @foreach (var permiso in modelo.Permisos)
        {
            <li class="mb-1">
                <span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 6px;">
                    verified_user
                </span>
                @permiso.Permiso?.Tipo
            </li>
        }
    </ul>
}
else
{
    <p>No posee permisos asignados.</p>
}


@code {

    private bool accesoPermitido;
    private bool redirigido = false;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !Servicio.EstaAutenticado && !redirigido)
        {
            redirigido = true;
            Navegador.NavigateTo("/");
        }
        else if (firstRender)
        {
            accesoPermitido = true;
            StateHasChanged(); // actualiza el render(?)
        }

        return Task.CompletedTask;
    }
    private Usuario? modelo;
    private string? nuevaCon;

    protected override void OnInitialized()
    {
        
       
        var actualizado = repositorioUsuario.ObtenerUsuario(Servicio.UsuarioActual!.Id);
        if (actualizado != null)
        {
            Servicio.IniciarSesion(actualizado);
        }
        
          
        if (actualizado is not null)
        {
            modelo = Usuario.CrearNuevo();
            {
                modelo.Id = Servicio.UsuarioActual.Id;
                modelo.Nombre = Servicio.UsuarioActual.Nombre;
                modelo.Apellido = Servicio.UsuarioActual.Apellido;
                modelo.CorreoElectronico = Servicio.UsuarioActual.CorreoElectronico;
                modelo.HashContrasenia = Servicio.UsuarioActual.HashContrasenia;
                modelo.Permisos = Servicio.UsuarioActual.Permisos;
            };
        }
    }

    private void GuardarCambios()
    {
        var hash="";
        if (modelo is not null)
        {
            if(nuevaCon is not null){
                hash = SHA256Helper.ComputeSHA256(nuevaCon);
               modelo.HashContrasenia=hash;
            }
            ModificarUsuarioUseCase.Ejecutar(modelo, Servicio.UsuarioActual!.Id);
            Servicio.IniciarSesion(modelo);
            Navegador.NavigateTo("/home", forceLoad: false); 
        }
    }
}
